.App {
  text-align: center;
}

h1 {
  color: rgba(181, 219, 203, 0.65);
  text-shadow: 0.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -0.5px 0 0 #000
}

h3 {
  color: rgb(69, 58, 58);
  padding: 2% 0;
  margin-bottom: 1%;
}

h4 {
  color: darkred;
  margin: 1% 0;
}

p {
  color: rgb(69, 58, 58);
  margin: 1% 0;
  font-size: 0.85rem;
}

form {
  display: table;
}

label {
  color: rgb(69, 58, 58);
  padding: 0 1.5%;
  font-size: 0.85rem;
  display: table-cell;
}

input {
  margin-left: 0.5%;
  align-items: right;
  display: table-cell;
  margin-top: 1%;
}

.container h3 {
  margin-bottom: -1%;
}

.form-group-checkboxes label {
  font-style: italic;
}

button {
  margin: 3% 1.5%;
}

button:active {
  background-color: slategrey;
  color: white;
  border-radius: 3px;
}

div.form-group {
  line-height: 16px;
}

div.member {
  background-color: rgb(150, 182, 169, 0.65);
  max-width: 26%;
  margin-bottom: 2%;
  border-radius: 5px;
  padding-left: 2%;
  padding-top: 1%;
  border: 1px solid black;
}